---
- name: Install htop
  ansible.builtin.package:
    name: htop
    state: present
- name: Install curl
  ansible.builtin.package:
    name: curl
    state: present
- name: Install net-tools
  ansible.builtin.package:
    name: net-tools
    state: present
- name: Install docker
  ansible.builtin.package:
    name: docker.io
    state: present
- name: Install python3-pip
  ansible.builtin.package:
    name: python3-pip
    state: present
- name: Install docker python package
  ansible.builtin.pip:
    name: docker
- name: Install docker python package
  ansible.builtin.pip:
    name: docker-compose
- name: Ensure Docker service is running and enabled
  service:
    name: docker
    state: started
    enabled: yes
